* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  text-align: center;
}

.container {
  display: flex;
  justify-content: ;
  align-items: center;
  flex-direction: column;
  width: 375px;
  margin: 3rem auto 2rem;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1rem 1.5rem;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.container h2 {
  font-weight: 700;
  padding: 1.3rem;
}

.container p {
  font-weight: 400;
  padding: 0 1.3rem;
}
